body {
    background-color: #F4F4F4;
    color: #641111;
    font-size: 1.25rem; 
    display: grid;
    grid-template-rows: auto;
    overflow-x: hidden;
}

nav {
    margin-bottom: 4rem;
}

/* Nav Bar */

.nav-bar {
    background-color: white;
    color: #641111;
    padding: 1rem 2rem;
    gap: 1rem;
    display: flex;
    justify-content: flex-start;
}

.nav-bar a {
    text-decoration: none;
    color: #641111;
}

/* About Me */
.about-me {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    align-items: center;
    text-align: center;
    flex: 1 1 initial;
    margin: auto;
    line-height: 1.5rem;
    padding: 2rem;
}

.about-me img {
    max-width: 8rem;
}

.about-me-item {
    padding: 1rem 0 0 0;
}

/* Main */

.project-info-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    padding: 1rem
}

.display-project {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    padding: 1rem;
    flex: 1 1;
    text-align: center;
}

.display-project img{
    width: 25rem;
}

.other-projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    max-width: 35rem;
    gap: 1rem;
    align-items: center;
    border: 0px;
    text-align: center;
}

.other-projects img {
    max-width: 15rem;
}

/* Footer */
.contact-info {
    align-self: end;
    margin-bottom: 0;
    margin-top: 2rem;
    background-color: white;
}

.contact-info-container {
    align-items: end;
}

.contact-info-items {
    display: flex;
    justify-content: center;
    color: #641111;
    padding: 1rem 2rem;
    gap: 1rem;
}

.contact-info-items a {
    text-decoration: none;
    color: #641111;
}