body {
    background-color: #F4F4F4 ;
    color: #641111;
    font-size: 1.25rem; 
    display: grid;
    grid-template-rows: auto;
}

/* Nav Bar */

.nav-bar {
    background-color: white;
    color: #641111;
    padding: 1em 2em;
    gap: 1em;
    display: flex;
    justify-content: flex-start;
}

.nav-bar a {
    text-decoration: none;
    color: #641111;
}

/* About Me */
.about-me {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    max-width: 30em;
    align-items: center;
    text-align: center;
}

.about-me img {
    max-width: 8em;
}

.about-me-item {
    padding: 1em 0 0 0;
}

/* Main */

.project-info-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
}

.display-project {
    display: flex;
    max-width: 60em;
    padding: 1em;
    flex: 1 1;
}

.other-projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    max-width: 35em;
    gap: 1em;
    align-items: center;
    border: 0px;
}

.other-projects img {
    max-width: 15em;
}

/* Footer */
.contact-info {
    align-self: end;
    margin-bottom: 0;
    margin-top: 2em;
}

.contact-info-container {
    align-items: end;
}

.contact-info-items {
    display: flex;
    justify-content: center;
    background-color: white;
    color: #641111;
    padding: 1em 2em;
    gap: 1em;
}